/* Estilo do banner */
.banner {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 500px;
}

.banner .images {
    position: relative;
    display: flex;
    max-width: 50%;
    animation: slide 30s infinite;
}

.banner .images img {
    height: 400px;
    width: 600px;
    margin-right: 20px; 

}

@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dots .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dots .dot.active {
    background-color: #717171;
}